* {
  font-family: var(--font-Noto-Sans);
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: var(--base-size);
  tab-size: 4;
  color: white;
  background: var(--background-body);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
